<!DOCTYPE html>
<html>
<head>
    <title>Página de Pagamento</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>Bem-vindo à Página de Pagamento da Stripe</h1>
    <button id="checkout-button">Pagar</button>
    
    <script type="text/javascript">
        var stripe = Stripe('{{ STRIPE_PUBLISHABLE_KEY }}'); // Substitua pela sua chave pública do Stripe

        var checkoutButton = document.getElementById('checkout-button');

        checkoutButton.addEventListener('click', function () {
            fetch('http://localhost:5000/create-checkout-session', { // Substitua pelo URL do seu servidor Flask
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'item_id=SEU_ITEM_ID_AQUI' // Substitua pelo ID do item que está vendendo
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                stripe.redirectToCheckout({
                    sessionId: data.sessionId // Certifique-se de que 'sessionId' é o campo correto na resposta JSON
                }).then(function (result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                });
            }).catch(function (error) {
                console.error('Erro ao criar sessão de checkout:', error);
            });
        });
    </script>
</body>
</html>
