<!DOCTYPE html>
<html>
<head>
    <title>Página de Pagamento</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>Bem-vindo à Página de Pagamento da Stripe</h1>
    <button id="checkout-button">Pagar</button>
    
    <script type="text/javascript">
        // Substitua pela sua chave pública de produção (pk_live_...)
        var stripe = Stripe('pk_live_51PacYZRvur2p3YJieJ1S8ygymAjSur5XIg6s7K1FKhe3xQTG7YXnqleSktDkgSKfjoh6VO5X2opill3brau0n3jn00LSw2PFo1');

        var checkoutButton = document.getElementById('checkout-button');

        checkoutButton.addEventListener('click', function () {
            fetch('/create-checkout-session', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'item_id=SEU_ITEM_ID_AQUI' // Substitua pelo ID do item que está vendendo
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                // Verifique se o sessionId está corretamente recuperado da resposta JSON
                stripe.redirectToCheckout({
                    sessionId: data.sessionId // Certifique-se de que 'sessionId' é o campo correto na resposta JSON
                }).then(function (result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                });
            }).catch(function (error) {
                console.error('Erro ao criar sessão de checkout:', error);
            });
        });
    </script>
</body>
</html>
